# Gradle
.gradle/
build/
**/build/

# Local config
local.properties

# Keystore files
*.jks
*.keystore

# Logs
*.log

# Mac
.DS_Store

# Native build
.externalNativeBuild/
.cxx/

# Android Studio user-specific files
.idea/workspace.xml
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# IntelliJ
*.iml